<footer class="bg-primary-600 py-8 py-md-9">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center border-bottom pb-8 mb-8">
      <h2 class="fs-5 mb-6 mb-md-0">
        <a class="text-neutal-0 fw-bold" href="#">
          <img src="../assets/images/logo-white.png" alt="Logo">
          Nordiv
        </a>
      </h2>
      <ul class="nav fw-medium d-block d-md-flex gap-4">
        <li class="nav-item">
          <a class="nav-link text-neutal-0 px-2" href="#">品牌介紹</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-neutal-0 px-2" href="#">精選商品</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-neutal-0 px-2" href="#">空間靈感</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-neutal-0 px-2" href="#">聯絡我們</a>
        </li>
      </ul>  
    </div>
    <div class="d-grid justify-content-center">
      <ul class="nav gap-4 mx-auto mb-3">
        <li>
          <a href="#" class="nav-link text-primary-500 bg-primary-100 rounded-circle p-2">
            <i class="bi bi-facebook d-flex"></i>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-primary-500 bg-primary-100 rounded-circle p-2">
            <i class="bi bi-instagram d-flex"></i>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-primary-500 bg-primary-100 rounded-circle p-2">
            <i class="bi bi-twitter-x d-flex"></i>
          </a>
        </li>
      </ul>
      <p class="text-neutal-400">© 2025 Nordiv. All rights reserved.</p>
    </div>
  </div>
</footer>