<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Nordiv 致力於為您帶來最純粹的北歐設計理念，每一件傢俱都承載著簡約與功能的完美平衡。讓自然材質與現代工藝相遇，在您的家中綻放溫暖而寧靜的生活氛圍。" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>Nordiv</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="bg-neutal-100 py-8 py-md-9">
        <div class="container position-relative">
          <div class="row">
            <div class="col-md-4 position-md-absolute top-50 end-0 translate-middle-md-y">
              <div class="bg-md-neutal-0 bg-opacity-md-80 mb-6 mb-md-0 py-2 p-md-6">
                <h3 class="text-neutal-400 fs-6 fw-bold mb-1">FIND YOUR STYLE</h3>
                <h2 class="text-primary-700 fs-2 fs-md-48 mb-4">
                  <span class="d-block fw-normal mb-1">讓生活回歸</span>
                  <span class="text-primary-500 fs-md-1 fw-bold">簡約本質</span>
                </h2>
                <p class="text-neutal-600">Nordiv 致力於為您帶來最純粹的北歐設計理念，每一件傢俱都承載著簡約與功能的完美平衡。 讓自然材質與現代工藝相遇，在您的家中綻放溫暖而寧靜的生活氛圍。</p>
              </div>
            </div>
            <div class="col-md-9">
              <div class="banner"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-neutal-200 py-8 py-md-9">
        <div class="container">
          <div class="text-center mb-6 mb-md-8">
            <h2 class="text-primary-700 fs-1 fw-bold">
              <span class="d-block text-neutal-400 fs-6 mb-1">FEATURED COLLECTION</span>
              精選商品
            </h2>
          </div>
          <ul class="product-list row row-cols-md-3 mb-6 mb-md-8">
            <li class="mb-6 mb-md-0">
              <a href="#">
                <img src="../assets/images/product-1.png" alt="Nørd 經典座椅" class="mb-6" />
                <div class="p-2">
                  <h3 class="fs-5 fw-bold text-primary-700 mb-3">Nørd 經典座椅</h3>
                  <p class="text-neutal-600 fs-14">融合人體工學與美學的完美設計，溫潤木質展現北歐工藝精神。</p>
                </div>
              </a>
            </li>
            <li class="mb-6 mb-md-0">
              <a href="#">
                <img src="../assets/images/product-2.png" alt="Sken 實木組合茶几" class="mb-6" />
                <div class="p-2">
                  <h3 class="fs-5 fw-bold text-primary-700 mb-3">Sken 實木組合茶几</h3>
                  <p class="text-neutal-600 fs-14">精選橡木打造，簡約線條中蘊含著家庭聚會的溫暖回憶。</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../assets/images/product-3.png" alt="Lyv 流線雲沙發" class="mb-6" />
                <div class="p-2">
                  <h3 class="fs-5 fw-bold text-primary-700 mb-3">Lyv 流線雲沙發</h3>
                  <p class="text-neutal-600 fs-14">極簡流線設計搭配柔和霧灰皮革，打造如雲般包覆的舒適坐感。</p>
                </div>
              </a>
            </li>
          </ul>
          <button type="button" class="btn btn-primary-400 rounded-1 border-0 fw-medium d-block px-5 py-3 mx-auto">查看更多商品</button>
        </div>
      </section>
      <section class="bg-neutal-100 py-8 py-md-9">
        <div class="container">
          <div class="text-center mb-6 mb-md-8">
            <h2 class="text-primary-700 fs-1 fw-bold">
              <span class="d-block text-neutal-400 fs-6 mb-1">LIFESTYLE INSPIRATION</span>
              空間靈感
            </h2>
          </div>
          <div class="inspiration row flex-nowrap overflow-x-auto gap-3 gap-md-0 mb-6 mb-md-8 px-3 px-md-0">
            <div class="col-md-7 d-contents d-md-block">
              <div class="d-contents d-md-flex gap-6 mb-6">
                <img src="../assets/images/inspiration-1.png" alt="inspiration" />
                <div class="d-contents d-md-grid gap-6">
                  <img src="../assets/images/inspiration-2.png" alt="inspiration" />
                  <img src="../assets/images/inspiration-3.png" alt="inspiration" />
                </div>
              </div>
              <img src="../assets/images/inspiration-7.png" alt="inspiration" />
            </div>
            <div class="col-md-5 d-contents d-md-block">
              <div class="d-contents d-md-grid gap-6">
                <img src="../assets/images/inspiration-4.png" alt="inspiration" />
                <img src="../assets/images/inspiration-5.png" alt="inspiration" />
                <img src="../assets/images/inspiration-6.png" alt="inspiration" />
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-outline-primary-400 rounded-1 fw-medium d-block px-5 py-3 mx-auto">探索更多靈感</button>
        </div>
      </section>
      <section class="bg-neutal-200 py-8 py-md-9">
        <div class="container">
          <div class="row row-cols-md-2">
            <div class="d-none d-md-flex gap-6 py-8">
              <div class="py-8">
                <img src="../assets/images/contact-1.png" alt="contact" class="mb-6" />
                <img src="../assets/images/contact-2.png" alt="contact" />
              </div>
              <div>
                <img src="../assets/images/contact-3.png" alt="contact" class="mb-6" />
                <img src="../assets/images/contact-4.png" alt="contact" />
              </div>
            </div>
            <div>
              <h2 class="text-center text-md-start text-primary-700 fs-1 fw-bold mb-6">
                <span class="d-block text-neutal-400 fs-6 mb-1">GET IN TOUCH</span>
                聯絡我們
              </h2>
              <p class="text-neutal-600 mb-6">對我們的商品有任何疑問，或需要客製化服務？ 歡迎留下您的訊息，我們將盡快回覆。</p>
              <form action="#">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control rounded-1" id="floatingName" placeholder="Name" />
                  <label for="floatingName">姓名</label>
                </div>
                <div class="form-floating mb-4">
                  <input type="email" class="form-control rounded-1" id="floatingInput" placeholder="name@example.com" />
                  <label for="floatingInput">信箱</label>
                </div>
                <div class="form-floating mb-6">
                  <textarea class="form-control rounded-1" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                  <label for="floatingTextarea">訊息內容</label>
                </div>
                <button type="button" class="btn btn-primary-400 w-100 border-0 rounded-1 fw-medium py-3">發送訊息</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
